<div class="box">
  <div class="box-header with-border">
    <h3 class="box-title">股票列表</h3>
  </div>
  <!-- /.box-header -->
  <div class="box-body">
    <table class="table table-bordered">
      <tr>
        <th style="width: 10px">序号</th>
        <th>股票名称</th>
        <th>股票价格</th>
        <th>股票评级</th>
        <th >股票描述</th>
        <th >股票类别</th>
      </tr>
      <tr *ngFor="let stock of stocks">
        <td>{{stock.id}}.</td>
        <td>{{stock.name}}</td>
        <td>{{stock.price}}</td>
        <td>{{stock.rating}}</td>
        <td>{{stock.desc}}</td>
        <td>{{stock.categories}}</td>
      </tr>
    </table>
  </div>
  <!-- /.box-body -->
  <div class="box-footer clearfix">
    <ul class="pagination pagination-sm no-margin pull-right">
      <li><a href="#">&laquo;</a></li>
      <li><a href="#">1</a></li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">&raquo;</a></li>
    </ul>
  </div>
</div>
<!-- /.box -->
